/* ===========================
    Réinitialisation générale
   =========================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* ===========================
    Variables CSS
   =========================== */
:root {
    --primary-color: #808080;
    --secondary-color: #707070;
    --background-light: #f1f1f1;
    --text-color: #333;
    --white: #fff;

    --gap-xxl: 150px;
    --gap-large: 20px;
    --gap-small: 10px;
}

/* ===========================
    Header et Navigation
   =========================== */
header {
    background-color: var(--primary-color);
    color: var(--white);
    text-align: center;
    padding: 10px 20px;
    height: 200px;
    margin-bottom: 20px;
}

.logo {
    width: 150px;
    height: auto;
    margin: auto;
    margin-top: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: var(--gap-xxl);
}

nav a {
    font-size: 25px;
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: red;
}

/* ===========================
        Section Présentation
   =========================== */
.presentation {
    background-color: var(--secondary-color);
    padding: var(--gap-large);
    width: 90%;
    margin: auto;
    border-radius: 5px;
}

.presentation h2 {
    font-size: 30px;
    font-weight: bold;
    color: var(--white);
    margin-bottom: var(--gap-large);
    text-align: center;
    text-transform: uppercase;
}

.presentation p {
    font-size: 18px;
    text-align: justify;
    margin-bottom: var(--gap-large);
    padding-left: 50px;
    padding-right: 50px;
}

/* ===========================
        Section Membres
   =========================== */
.membres {
    background-color: var(--secondary-color);
    padding: var(--gap-large);
    text-align: center;
    width: 90%;
    margin: auto;
    border-radius: 5px;
    margin-top: 20px;
}

.membres h2 {
    font-size: 30px;
    font-weight: bold;
    color: var(--white);
    margin-bottom: var(--gap-large);
    text-align: center;
    text-transform: uppercase;
}

.membres-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.membre {
    border-radius: 15px;
    padding: var(--gap-large);
    width: 250px;
    height: 350px;
    text-align: center;
    background-color: var(--primary-color);
}

.membre .photo {
    width: 150px;
    height: 150px;
    margin: 0 auto var(--gap-large);
}

.membre p {
    font-size: 18px;
    color: var(--white);
    font-weight: bold;
    text-align: left;
    padding-top: 10px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

/* ===========================
        Section Contact
   =========================== */
.contact {
    background-color: var(--secondary-color);
    padding: var(--gap-large);
    text-align: center;
    width: 90%;
    margin: auto;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact h2 {
    font-size: 30px;
    font-weight: bold;
    color: var(--white);
    margin-bottom: var(--gap-large);
    text-align: center;
    text-transform: uppercase;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

input {
    padding: var(--gap-small);
    border-radius: 5px;
    width: 250px;
    margin-bottom: 20px;
}

textarea {
    margin-bottom: 20px;
    width: 50%;
    height: 150px;
    padding: var(--gap-small);
    border-radius: 10px;
}

button {
    background-color: var(--background-light);
    color: var(--black);
    border: none;
    padding: var(--gap-small);
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    width: 150px;
    border-radius: 10px;
    margin: auto;
}

button:hover {
    background-color: #585858;
    /* Légère variation de couleur */
    color: white;
}

/* ===========================
    Pied de page
   =========================== */
footer {
    display: flex;
    /* Utilise Flexbox */
    justify-content: space-between;
    /* Sépare les éléments */
    align-items: center;
    /* Centre verticalement */
    background-color: #808080;
    /* Gris pour ton footer */
    padding: 20px 0 20px 0;
}

.footer-center {
    flex: 1;
    text-align: center;
}

.footer-left {
    text-align: left;
    /* Aligne les "Lorem" à gauche */
    list-style: none;
    padding-left: 20px;
}

.footer-left ul {
    list-style: none; /* Enlève les puces */
    }

.footer-right {
    text-align: right;
    /* Aligne le logo à droite */
    padding-right: 20px;
}

.footer-center ul {
    list-style: none; /* Enlève les puces */
}

.footer-center a {
    text-decoration: none;
    color: inherit;
}

.footer-right img {
    max-width: 100px;
    /* Ajuste la taille du logo */
}

footer li {
    font-size: 20px;
    color: var(--white);
    
}
/* ===========================
    Media Queries (Responsive)
   =========================== */
@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        gap: var(--gap-small);
    }

    .membres-container {
        flex-direction: column;
        gap: var(--gap-small);
    }

    header {
        height: auto;
    }

    .presentation,
    .membres,
    .contact {
        height: auto;
        padding: var(--gap-small);
    }
}